body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0fff0;
}

main {
    margin-top: 9vh;
}

header {
    background-color: #d2f4d2;
}

#navColor {
    background-color: #d2f4d2 !important;
}

h1,
h4,
nav ul li a {
    color: #006400;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

h2 {
    color: #006400;
    margin-top: 0;
}

p {
    color: #008000;
}

footer {
    background-color: #d2f4d2;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #006400;
}

#nombre,
#email,
#mensaje {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#enviar {
    padding: 10px 20px;
    background-color: #006400;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#imgBosque {
    width: 100%;
    height: 250px;
    filter: brightness(90%);
}

.contactFormDiv {
    padding: 5px;
}

.custom-fluid {
    height: 79vh;
}

#carouselExample {
    width: 80%;
}

.text-shadow {
    text-shadow: 1px 1px 2px black;
}

#cardImg {
    width: 100%;
    height: 49vh;
}

@media (max-width: 1000px) {
    .custom-fluid {
        height: 60vh;
    }

    #carouselExample {
        width: 100%;
        margin-top: 10vh;
    }

    #cardImg {
        width: 100%;
        height: auto;
    }
}