footer {
    background-color: $colorLightGreen;
    padding: 20px;
    margin-top: auto;
}

#copyright {
    text-align: center;

    @media (max-width: 1000px) {
        font-size: smaller;
    }
}

#emptyCol {
    @media (max-width: 1000px) {
        display: none;
    }
}

#footerRow {
    align-items: baseline;
}

#redesSociales {
    display: block;
}